* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 50px;
}

footer {
    background-color: green;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.contact a:link {
    font-weight: bold;
    text-decoration: none;
    color: #595959;
}

.contact a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #595959;
}

.contact a:hover,
a:active {
    text-decoration: none;
    color: green;
    display: inline;
    margin-right: 1.3em;
    margin-left: 1.3em;
}

nav {
    width: 100%;
    background-color: green;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

nav .menu:hover {
    color: lightgreen;
}

nav a {
    text-decoration: none;
    color: white;
}

#logo h1 {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
    display: inline;
    margin: 10px;
    text-align: center;
}

.menu-list {
    display: none;
}

.menu-list li {
    display: inline;
}

h {
    text-shadow: 1px 1px 2px black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: auto;
    max-width: 100%;
    height: auto;
    image-rendering: auto;
    /*height: 300px;*/
}

.caption {
    text-align: center;
    font-weight: bold;
}

section {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom-style: ridge;
}

p h2 {
    box-sizing: border-box;
    padding: 5%;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif
}

.lighter {
    background-color: white;
}

@media screen and (min-width: 600px) {
    .menu-list {
        display: inline;
        padding: 0;
        margin-right: 8px;
    }
    .menu {
        padding-right: 10px;
    }
    #logo h1 {
        font-family: 'Hind', sans-serif;
        font-size: 30px;
        letter-spacing: -2px;
        display: inline;
        margin: 10px;
    }
    img {
        /*image-rendering: pixelated;*/
        image-rendering: crisp-edges;
        height: 300px;
    }
}